* {
  margin: 0;
  padding: 0;
  font-family: "Quattrocento Sans", sans-serif;
}
:root {
  font-size: 16px;
}
main {
  overflow-x: hidden;
}
.navbar .image-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}
.nav-section {
  display: none;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(16, 15, 15);
  overflow-y: hidden;
}
.close {
  display: none;
}
.display-true {
  display: flex;
}
.display-false {
  display: none;
}

.nav-section div {
  width: 50%;
}

.nav-section .logo-div:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  opacity: 0.1;
  background-image: url("../images/burgers.png");
  background-repeat: repeat;
  background-size: 150px;
}
.logo-div h2 {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 3px;
  font-size: 1.5rem;
  position: relative;
  top: 15%;
  left: 10%;
  width: fit-content;
}
.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-items ul * {
  list-style: none;
  color: #fff;
  margin: 50px 20px;
  text-decoration: none;
  font-size: 32px;
}
.menu-items ul *:hover {
  color: rgb(242, 178, 50);
}

.icon {
  width: 25px;
  background-color: #fff;
  padding: 8px;
}
.burgery-headline {
  background-blend-mode: color;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/hamburger.jpg");
  height: 100vh;
}
.burgery-headline h1 {
  color: #fff;
  font-size: 68px;
  letter-spacing: 2px;
  padding: 15px 30px;
  font-weight: lighter;
  line-height: 6rem;
}
.headline-img-wrapper {
  width: 400px;
}
.burgery-headline-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7rem 0;
}
.burgery-headline p {
  color: #fff;
  letter-spacing: 3px;
  font-size: 1.5rem;
  position: relative;
  top: 15%;
  left: 10%;
  width: fit-content;
}

.burgery-about {
  display: flex;
  justify-content: center;
  margin: 55px 0px;
  align-items: center;
  flex-wrap: wrap;
}
.img-wrapper {
  width: 365px;
}
.margin-right {
  margin-right: 30px;
}
.margin-left {
  margin-left: 30px;
}
.burgery-about-div {
  text-align: center;
  width: 501px;
  letter-spacing: 2px;
  line-height: 22px;
}
.burgery-about-div h2 {
  margin: 15px 0;
}
.burgery-about-div p {
  margin: 20px 0;
}
.burgery-menu-div {
  text-align: center;
}
.burgery-menu-div h2 {
  margin: 25px 0;
}
.menu-item {
  text-align: left;
  line-height: 32px;
  letter-spacing: 2px;
  margin: 25px 0;
}
.menu-item h4 {
  letter-spacing: 3px;
}
.menu-item p {
  font-size: 12px;
}
.burgery-contact {
  width: fit-content;
  margin: auto auto;
}
.burgery-contact h2 {
  letter-spacing: 2px;
  margin: 25px 0;
}
.burgery-contact p:nth-child(odd) {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin: 15px 0;
}
.burgery-contact p:nth-child(2) {
  color: #073850;
  font-weight: 600;
  margin: 15px 0;
}
.contact-form-input {
  margin-bottom: 25px;
}
.contact-form-input input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}
form button {
  border: none;
  background-color: #ccc;
  padding: 12px 25px;
  box-shadow: 3px 3px 5px #eee;
  border: 1px solid #eee;
  cursor: pointer;
}
form button:hover {
  box-shadow: 3px 3px 5px #eee inset;
}

footer {
  background-color: #ddd;
  padding: 40px 20px;
  text-align: center;
  margin-top: 50px;
  font-size: 14px;
}
footer p a {
  color: #000;
}
@media (max-width: 1040px) {
  .burgery-headline-div h1 {
    font-size: 54px;
  }
}

@media (max-width: 992px) {
  .burgery-about {
    flex-direction: column-reverse;
  }
  .burgury-menu {
    flex-direction: column;
  }
  .burgery-contact {
    padding: 0 40px;
  }
  .margin-right {
    margin-right: 0px;
  }
  .margin-left {
    margin-left: 0px;
  }
  .headline-img-wrapper {
    width: 300px;
  }
  .burgery-headline-div {
    margin: 10rem 0;
  }
  .burgery-headline-div h1 {
    font-size: 38px;
    padding-left: 0;
  }
}
@media (max-width: 698px) {
  .headline-img-wrapper {
    display: none;
  }
}
@media (max-width: 568px) {
  .burgery-about-div {
    width: 75%;
  }
  .burgery-about img {
    width: 300px;
  }
  .burgery-menu-div {
    width: 75%;
  }
  .img-wrapper {
    width: 100%;
    text-align: center;
  }
  .burgery-contact p:nth-child(2) {
    line-height: 25px;
  }
  .nav-section div {
    width: 100%;
  }
  .display-true {
    flex-direction: column;
    justify-content: center;
  }
  .nav-section .logo-div:before {
    height: 35vh;
    width: 100%;
  }
  .menu-items {
    align-items: normal;
  }
}
